*{
    padding: 0;
    margin: 0;
}

/* header */
#header1{
    width: 100%;
    padding: 20px;
    background-color: rgb(200, 34, 200);
    opacity: 0.75;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position:fixed;
    top: 0;
    z-index: 10;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
#header1 li{
    list-style: none;
    padding:0px 10px;
    font-size: 20px;
    
}
#header1 a{
    text-decoration: none;
    color: white;
    opacity: 1;
    
}
#header1 h1{
    display: inline-block;
    color: white;
    opacity: 1;
}
#header1 img{
    height: 50px;
    padding-right: 20px;
}
#header1 a:hover{
    color: purple;
}

#body{
    height: 100vh;
    width: 100%;
    background-image: url("https://www.jiomart.com/images/product/600x600/rvwjiyll6q/wens-multicolor-vinyl-unicorn-fantasy-land-self-adhesive-wall-poster-24-x-36-inch-product-images-orvwjiyll6q-p590832171-0-202110241025.jpg");
    background-size: cover;
}
#content{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 60px;
}

#games{
    /* height: 100vh; */
    padding: 100px;
    width: 100%;
    background-image: url("https://previews.123rf.com/images/urzine/urzine2011/urzine201100001/159058027-3d-illustration-background-for-advertising-and-wallpaper-in-80s-retro-and-sci-fi-pop-art-scene-3d-re.jpg");
    background-size: cover;
    opacity: 0.75;    
}
#games h1{
    color: white;
    font-size: 60px;
    height: 60px;
}
.cards{
    height:500px;
    width: 600px;
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.cards div{
    transition: 1s;
    box-shadow: 3px 3px 5px black;
}
.cards div:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.image{
    height: 200px;
    width: 200px;
    background-image: url("./images/2048.png");
    background-size: cover;
}
.im1{
    background-image: url("https://play-lh.googleusercontent.com/uhuQB6-Ejacm0iEhgjJTd0k5fZTb7uXQtEiDg2oucDqa-llDaBjEaWJckBdxWu9Wd26W=w240-h480-rw");
}
.im2{
    background-image: url("https://cdn.ezjojoy.com/packages/com.orange.simon.memory.game/icon_289ea8.png");
}
.im3{
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/99/21/tic-tac-toe-game-linear-outline-icon-colour-neon-vector-35229921.jpg");
}
.im4{
    background-image: url("https://images.summitmedia-digital.com/candy/images/2022/02/03/bts-wordle.jpg");
}
.im5{
    background-image: url("https://images.unsplash.com/photo-1589997419427-daff54553276?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
}
.sub{
    /* height: 50vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about{
    height: 100vh;
    width: 100%;
    background-color: pink;
}

#carouselExampleSlidesOnly{
    height: 100vh;
    
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    background-size: cover;
}


#contact{
    height: 100vh;
    width: 100%;
    background-color: palevioletred;
}