*{
    padding: 0;
    margin: 0;
}

/* header */
#header1{
    padding: 20px;
    background-color: rgb(200, 34, 200);
    opacity: 0.75;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header1 ul{
    display: inline-block;
}
#header1 li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
    
}
#header1 a{
    text-decoration: none;
    color: white;
}
#header1 h1{
    display: inline-block;
    color: white;
}
#header1 img{
    height: 50px;
    padding-right: 20px;
}

.body{
    height: 100vh;
    width: 100%;
    background-image: url("https://www.jiomart.com/images/product/600x600/rvwjiyll6q/wens-multicolor-vinyl-unicorn-fantasy-land-self-adhesive-wall-poster-24-x-36-inch-product-images-orvwjiyll6q-p590832171-0-202110241025.jpg");
    background-size: cover;
}