*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
#header1{
    width: 100%;
    padding: 20px;
    background-color: rgb(200, 34, 200);
    opacity: 0.75;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position:fixed;
    top: 0;
    z-index: 10;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
#header1 li{
    list-style: none;
    padding:0px 10px;
    font-size: 20px;
    
}
#header1 a{
    text-decoration: none;
    color: white;
    opacity: 1;
    
}

#content{
    animation: s 5s linear infinite;
}
@keyframes s {
    0%{
        transform: scale(.25);
    }
    25%
    {
        transform: scale(.5);
  
    }
    50%
    {
        transform: scale(1);
       
    }
    75%
    {
        transform: scale(.5);
       
    }
    100%
    {
        transform: scale(0.25);
   
    }
}

#brain{
    display: flex;
    color: white;
    opacity: 1;
}
#header1 img{
    height: 50px;
    padding-right: 20px;
}
#header1 a:hover{
    color: purple;
}

#body{
    height: 100vh;
    width: 100%;
    background-image: url("./images/homepage.jpg");
    background-size: cover;
}
#content{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 60px;
}

#games{
    /* height: 100vh; */
    padding: 100px;
    width: 100%;
    background-image: url("./images/games.webp");
    background-size: cover;
    opacity: 0.75;    
}
#games h1{
    color: white;
    font-size: 60px;
    height: 60px;
}
.cards{
    /* height:500px; */
    /* width: 600px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    /* row-gap: 10px; */
    /* column-gap: 20px;
    grid-template-columns: repeat(3,1fr); */
    align-items: center;
}
.cards div{
    transition: 1s;
    box-shadow: 3px 3px 5px black;
}
.cards div:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.image{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-size: cover;
    margin: 20px;
}
.im1{
    background-image: url("./images/im1.webp");
}
.im2{
    background-image: url("./images/im2.webp");
}
.im3{
    background-image: url("./images/im3.jpg");
}
.im4{
    background-image: url("./images/im4.jpg");
}
.im5{
    background-image: url("./images/im5.jpeg");
}
.im6{
    background-image: url("./images/im6.avif");
}
.sub{
    /* height: 50vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about{
    /* height: 100vh; */
    width: 100%;
    background-color: pink;
    position: relative;
    background-image: url("./images/dark_purple_flowers_green_leaves_hd_purple_aesthetic-1920x1080\ \(1\).jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25% 0px;
}

#carouselExampleSlidesOnly{
    /* height: 100vh; */
    
}
.carousel-item{
    /* height: 100vh; */
}
.carousel-item img{
    background-size: cover;
}


#contact{
    width: 100%;
    background-color: palevioletred;
}
.b{

    /* height: 300px; */
    width: 800px;
    border: 5px solid purple;
    border-radius: 20px;
    padding:20px;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.b img{
    height: 250px;
    width: 250px;
    border-radius:50%;
    background-size: contain;
    /* margin-top: 20px; */
    border: 2px solid purple;
    box-shadow: 5px 5px 5px purple;
    /* margin-right: 50px; */
}
.profile{
    width: 300px;
    font-size: 20px;
    color: purple;
    font-weight: bold;
    padding: 20px;
    line-height: 1.5;
}
.profile a{
    color: purple;
}
.q{
    font-size: 30px;
}


.contus{
    /* height: 100vh; */
    width: 100%;
    background-image: url("./images/contact.webp");
    background-size: cover;
    opacity: 1;
    padding-bottom: 50px;  
    padding-top: 50px;
}
.contuscontent{
    color: aliceblue;
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 3px solid rgb(177, 28, 163); /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email]{
    width: 100%; 
    padding: 12px; /* Some padding */ 
    border: 3px solid rgb(177, 28, 163); /* Gray border */
    border-radius: 8px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  .btn{
    background-color: #17b1cf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: purple;
  }
  
  /* Add a background color and some padding around the form */
  .container11 {
    border-radius: 8px;
    background-color: plum;
    padding: 20px;
  }

  .footer{
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 30px;
    
}
.footer a{
    color: white;
}

.container11{
    width: 40%;
    margin: auto;
}
@media screen and (max-width:810px){
    #brain{
        display: none;
    }
    .b{
        width: 300px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    #content{
        font-size: 50px;
    }
    /* #logo{
        display: none;
    } */
    .container11{
        width: 90%;
    }
}

@media screen and (max-width:450px){
    #logo{
        display: none;
    }
}